# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/
/gradle/
/components/rsa1/build/
/components/rsa2/build/
/components/rsa_cracker/build/
/components/shift/build/
/components/shift_cracker/build/
/log/
/keys/
